h1{
	font-family: "Quicksand";
	text-align: center;
	color: #183c64;
}

h2{
	font-family: "Quicksand";
	text-align: center;
	color: #183c64;
}

input{
	padding-left: 15px;
	width: 400px;
	height: 50px;
	border-radius: 1em;
	background-color: whitesmoke;
	font-size: 18px;
	font-family: Quicksand;
}

select{
  padding-left: 15px;
  width: 400px;
  height: 50px;
  border-radius: 1em;
  background-color: whitesmoke;
  font-size: 18px;
  font-family: Quicksand;
}

label{
	margin-left: 449px;
	font-size: 20px;
	font-family: Quicksand;
}

table {
  font-family: "Quicksand";
  border-collapse: collapse;
  width: 100%;
  margin-left: 24px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table a{
	text-decoration: none;
}

.search{
  margin-left: 410px;
  width: 400px;
  height: 50px;
  border-radius: 1em;
  background-color: whitesmoke;
  font-size: 18px;
  font-family: Quicksand;
}

.submit{
  margin-left: 0px;
  width: 100px;
  height: 50px;
  border-radius: 1em;
  background-color: whitesmoke;
  font-size: 18px;
  font-family: Quicksand;
}

.update{
  position: absolute; 
  bottom: -10pt;
  right: 358pt; 
  width: 400px;
  height: 40pt;
  font-size: 20px; 
  font-family: Quicksand; 
  background-color: #183c64; 
  color: white;
  border-radius: 1em;
}

.delete{
  margin-left: 465px;
  padding-left: 15px;
  width: 400px;
  height: 50px;
  border-radius: 1em;
  background-color: whitesmoke;
  font-size: 18px;
  font-family: Quicksand;
}

.confirm {
  position: absolute; 
  bottom: 0pt;
  right: 360pt; 
  width: 406px;
  height: 40pt;
  font-size: 20px; 
  font-family: Quicksand; 
  background-color: #183c64; 
  color: white;
  border-radius: 1em;
  margin-bottom: 50px;
}